
      <p id="notice"><%= notice %></p>
      <div class="main-container">
        <div class="row">
          <div class="col-4 text-center">
            <p>
            <strong>Title:</strong>
            <%= @link.title %>
            </p>
          </div>
        </div>
          <div class="row">
            <div class="col-4 text-center">
              <p>
                <strong>Url:</strong>
                <%= @link.url %>
              </p>

              <%= link_to 'Edit', edit_link_path(@link) %> |
              <%= link_to 'Back', links_path %>

              <%= f.text_area :body, placeholder: "Add a comment" %><br/>
              <%= f.submit "Add Comment" %>
        <% end %>

        <ul>
          <%= render(partial: 'comments/comment', collection: @story.comments) %>
        </ul>
      </div>
    </div>
  </div>
